.advantages {
  background-color: @background-light-grey;
}

.advantages__maintitle {
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: @grey;
  background-color: @white;
}

.advantages__maintitle1,
.advantages__maintitle2 {
  display: block;
  padding: 20px;
}

.advantages__list {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

// .advantages__wrapper {


//   @media (min-width: @tablet-width) {
//     width: 660px;
//   }

//   @media (min-width: @desktop-width) {
//     width: 1200px;
//   }
// }
