.card__wrapper {
  margin: 0;
  padding: 17px;

  @media (min-width: @tablet-width) {
    padding: 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px;
  }
}

.page-catalog__item--panorama {
  order: 0;
}

.card__name {
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.card__likes {
  color: @pink;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.card__comment {
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
}
