.card__wrapper {
  margin: 17px;
  padding: 0;
  background-color: @background-light-grey;

  @media (min-width: @tablet-width) {
    padding: 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px;
  }
}

.card__name {
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.card__likes {
  color: @pink;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.card__comment {
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
}
