.checkbox-list {
  background-color: @background-light-gray;
  border: none;

  @media (min-width: @tablet-width) {
    background-color: @white;
    border: 2px solid @light-gray;
    display: grid;
  }
}

.checkbox-list__legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
}
