.checkbox-list {
  background-color: @background-light-gray;
}

.checkbox-list__legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
}

.checkbox__label {
  color: @gray;
  text-transform: none;
  font-size: 18px;
  line-height: 30px;
}
