.contacts iframe {
  border: none;
  display: block;

  @media (min-width: @desktop-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 374px;
  }
}

.contacts__maintitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}

.contacts__title {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__phone,
.contacts__text,
.contacts__mail {
  text-transform: none;
  color: @pink;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
}

.contacts__list {
  list-style: none;
  width: 320px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    max-width: 546px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.contacts__wrapper {
  position: relative;
}

.contacts__wrapper::after {
  position: absolute;
  bottom: -60px;
  content: "smth";
  display: block;
  background-image: url("../img/triangle-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 123px;
}
