.intro__slogan {
  font-style: normal;
  font-size: 24px;
  color: @white;
  text-transform: none;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 34px;
}

.intro__header {
  display: block;
  background-size: contain;
}

.intro__button {
  border: 3px solid @white;
  border-radius: 29px;
  background: @dark-grey;
  color: @white;
  padding: 15px 35px;
  font-size: 18px;
  margin-top: 28px;
}

.intro__list {
  color: @white;
  font-size: 14px;
  text-transform: none;
  background-color: @dark-grey;
}

.marketplace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 23%;
  margin-top: 28px;
  width: 200px;
}

.intro__list p {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 38px;
}

.intro__image {
  margin: 0;
}
