.intro__slogan {
  font-style: normal;
  font-size: 24px;
  color: @white;
  text-transform: none;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 34px;
}

.intro__header {
  display: block;
  background-size: contain;
}

.intro__button {
  border: 3px solid @white;
  border-radius: 29px;
  background: @dark-grey;
  color: @white;
  padding: 15px 35px;
  font-size: 18px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    background-color: initial;
  }
}

.intro__list {
  color: @white;
  font-size: 14px;
  text-transform: none;
  background-color: @dark-grey;

  @media (min-width: @tablet-width) {
    background-color: initial;
  }
}

.intro__list p {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 38px;
}

.intro__image {
  margin: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    background-image: url("../img/hand-phone.png");
    background-position: right bottom;
    right: -30px;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}
