.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  fill: @white;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &--open {
    height: 24px;
    width: 50px;
  }

  &--close {
    height: 23px;
    width: 23px;
  }

  &:hover,
  &:active {
    background-color: #624530;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#ffffff, 30%),
    0 16px 0 0 fade(#ffffff, 30%);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: @white;
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 252px;
    margin: 0 auto;
    background-color: @gray;
    box-shadow: 0 1px 0 @black, inset 0 1px 0 @white;
    opacity: 0.1;
  }

  @media (min-width: @desktop-width) {
    width: 1000px;
  }
}
