.marketplace__item {
  list-style: none;
  display: block;
  width: 200px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.marketplace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  width: 200px;
}

.marketplace__item--apple {
  background-image: url("../img/apple-logo.svg");
}

.marketplace__item--android {
  background-image: url("../img/android-logo.svg");
}


.marketplace__item--microsoft {
  background-image: url("../img/microsoft-logo.svg");
}
