.page-footer {
  padding: 36px 20px 40px 20px;


  @media (min-width: @tablet-width) {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__wrapper {
  background-color: @white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    // display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
  }
}

.page-footer__logo--visible-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__logo--visible-mobile {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
