.page-header {
  display: flex;
  flex-direction: row;
  // background-color: @gray;
  // opacity: 0.1;
}

.page-header__wrapper {
  display: block;
  background-image: url("../img/back-mobile.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% -9px;
}

.page-header__logo img {
  height: 66px;
  width: 74px;

  @media (min-width: @tablet-width) {
    height: 110px;
  }

  @media (min-width: @desktop-width) {
    height: 110px;
  }
}
