.page-catalog__photo {
  font-weight: 10;
  font-size: 24px;
  color: @white;
  text-transform: none;
  margin: 0px;
  padding: 220px;
  display: block;
  background-image: url(../img/back-mobile.jpeg);
}

.page-catalog__intro {
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
}

.page-catalog__item {
  list-style: none;
  background-color: @background-light-gray;
}

/*.page-catalog__item--panorama {

}*/
