.page-form__contest {
  font-weight: 10;
  line-height: 38px;
  font-size: 24px;
  color: @white;
  text-transform: none;
  margin: 0;
  padding: 102px 46px 51px 46px;
  display: block;
  background-image: url("../img/back-mobile.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    background-size: cover;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpeg");
  }
}

.page-form__intro {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  margin: 0;
  padding: 54px 20px;
}
