.question {
  background-color: @background-light-grey;
  border: none;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    border: 2px solid @light-grey;
  }
}

.question__legend {
  font-size: 14px;
  line-height: 18px;
  color: @pink;
}

.question__wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
}
