.site-list {
  list-style: none;
  font-weight: bold;
  background-color: @grey;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    justify-content: space-between;
    color: @white;

    background-color: @grey;
    opacity: 0.3;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 @black, inset 0 1px 0 @white-shadow;
  padding: 18px 0 18px 0;
}
