.slider__toggle {
  border-radius: 2px;
  background: @lightgrey;
  padding: 15px 35px;
  font-size: 18px;
  margin-top: 28px;
}

.slider__toggle--current {
  border: 3px solid @gray;
  border-radius: 2px;
  background: @dark-grey;
  color: @white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
