.triangle {
  width: 400px;
  height: 50px;
}

.triangle::after {
  position: absolute;
  bottom: -60px;
  content: "smth";
  display: block;

  background-image: url("../img/triangle-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
